# These will be automatically created by Neon Launchpad (https://neon.new).
# You will also need to 
DATABASE_URL=
DATABASE_URL_POOLER=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET= # Generate a secret key: `pnpm dlx @better-auth/cli secret`